body {
	background-color: #424242;
	font-family: sans-serif, monospace;
	color: #dedcdc;
	font-size: 125%;
}
a:link {
	color: #eb67ab;
}	
a:visited, a:hover {
	color: #ab4899;
}	
img {
	display: inline-block;
	margin: 0em 1.25em;
}	
h1 {
	font-family: sans-serif;
	color: #a85257;
	text-align: center;
}
h2 {
	font-family: sans-serif;
	font-style: italic;
	text-align: left;
	color: #9c9a9a;
}
p {
	font-size: 135%;
}
.pnk {
	background-color: #c94d9e;
}
.blu {
	background-color: #4d51c9;
}
.grn {
	background-color: #3a9c45;
}
.red {
	background-color: #9c423a;
}